::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Segoe UI";
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
}

nav li {
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-family: "Trebuchet MS";
  text-decoration: none;
  float: left;
}

#home-img{
    max-width: 100%;
}

#home-img-text-left{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
}

#home-img-text-right{
    position: absolute;
    bottom: 20%;
    right: 10%;
    color: white;
}
